{% extends 'base.html.twig' %}

{% block body %}

    <div class="main">
        <div class="title">
            <h2>{{ app.user.email }}</h2>
            <div class="title--line"></div>
        </div>
        <div class="account-paramaters-block">
            <div class="account__each-parameter">
                <a href="{{ path("reservationsList", {'userId': app.user.id}) }}"><i class="fas fa-ticket-alt"></i><br /> Mes réservations</a>
            </div>
            {% if app.user and app.user.role == 'Organizer' %}
            <div class="account__each-parameter">
                <a href="{{ path("myConcertsList", {'userId': app.user.id}) }}"><i class="far fa-list-alt"></i><br />  Mes événements</a>
            </div>
            <div class="account__each-parameter">
                <a href="{{ path("createConcert")}}"><i class="far fa-calendar-plus"></i><br />  Créer un événement</a>
            </div>
            {% endif %}
            <div class="account__each-parameter">
                <a href="{{ path('passwordChange', {'userId': app.user.id }) }}"><i class="fas fa-unlock"></i><br />  Modifier mon mot de passe</a>
            </div>
        </div>

</div>

{% endblock %}
