{% extends "base.html.twig" %}

{% block body %}

 <div class="login-block">
    <div class="title">
        <h2>Modifier mon mot de passe</h2>
        <div class="title--line"></div>
    </div>
    <div class="login-block__form">
        {% for message in app.flashes('wrongPassword') %}
        <span class="error"><p>{{ message }}</p></span>
        {% endfor %}
        {{ form_start(passwordChangeForm) }}
            <label>Mot de passe actuel :</label>
            <p>{{ form_row(passwordChangeForm.password, { 
                'required': 'true', 
                'label': ' ', 
                'attr': {
                    'placeholder': "Mot de passe actuel" 
                    } 
                })
            }}</p>
            <label>Nouveau mot de passe :</label>
            <p>{{ form_row(passwordChangeForm.newPassword, { 
                'required': 'true', 
                'label': ' ', 
                'attr': {
                    'placeholder': "Nouveau mot de passe" 
                    } 
                }) 
            }}</p>
            <label>Confirmer le nouveau mot de passe :</label>
            <p>{{ form_row(passwordChangeForm.confirmNewPassword, { 
                'required': 'true', 
                'label': ' ', 
                'attr': {
                    'placeholder': "Confirmation mot de passe" 
                    } 
                })    
            }}
            </p>
        </div>
        <div class="btn-block">
            <p><a href="{{ path('myAccount', {'userId': app.user.id }) }}"><input type="button" class="btn" value="Retour"></a>
            <input type="submit" class="btn" value="Confirmer"></p>
        </div>
        {{ form_end(passwordChangeForm) }}
    
 </div>
{% endblock %}