{% extends 'base.html.twig' %}

{% block body %}

    <div class="main">
        <div class="title">
            <h2>Oubli de mot de passe</h2>
            <div class="title--line"></div>
        </div>
        {% if not app.user %}
            {% if not isUser %}
            <p>
                {{ form_start(userEmailForm) }}
                    <label>Veuillez entrer votre adresse e-mail :</label>
                    {{ form_row(userEmailForm.userEmail, { 
                    'required': 'true', 
                    'label': ' ', 
                    'attr': {
                        'placeholder': "Adresse E-mail" 
                        } 
                    }) }}
                {% if notUser %}
                    <p class="important-text">Aucun compte n'est associé à cette adresse e-mail</p>
                {% endif %}
                <div class="btn-block">
                    <a href="{{ path('login') }}"><input type="button" class="btn" value="Retour">
                    <input type="submit" class="btn" value="Envoyer">
                </div>       
                {{ form_end(userEmailForm) }}
            {% elseif isUser %}
                <p><span class="important-text">Un nouveau mot de passe vous a été envoyé sur votre adresse e-mail</p>
                <div class="btn-block">
                    <a href="{{ path('index') }}"><input type="button" class="btn" value="Retour">
                </div>
            {% endif %}
        {% else %}
            <p>Vous êtes déjà connecté(e). <br /> Vous pouvez modifier votre mot de passe si vous le souhaitez
                <div class="btn-block">
                    <a href="{{ path('index') }}"><input type="button" class="btn" value="Retour">
                    <a href="{{ path('passwordChange', {'userId': app.user.id }) }}"><input type="button" class="btn" value="Modifier mon mot de passe">
                </div>       
            </p>
        {% endif %}

    </div>

{% endblock %}
