{% extends "base.html.twig" %}

{% block body %}

 {{ form_start(passwordChangeForm) }}
    <p>{{ form_row(passwordChangeForm.password, { 
        'required': 'true', 
        'label': 'Mot de passe actuel : ', 
        'attr': {
            'placeholder': "Mot de passe actuel" 
            } 
        }) 
    }}
    {% for message in app.flashes('wrongPassword') %}
        <strong>{{ message }}</strong>
    {% endfor %}</p>
    <p>{{ form_row(passwordChangeForm.newPassword, { 
        'required': 'true', 
        'label': 'Nouveau mot de passe : ', 
        'attr': {
            'placeholder': "Nouveau mot de passe" 
            } 
        }) 
    }}</p>
    <p>{{ form_row(passwordChangeForm.confirmNewPassword, { 
        'required': 'true', 
        'label': 'Confirmer le nouveau mot de passe : ', 
        'attr': {
            'placeholder': "Confirmation nouveau mot de passe" 
            } 
        }) 
    }}</p>
    <p><a href="{{ path('myAccount', {'userId': app.user.id }) }}"><input type="button" value="Retour"></a>
    <input type="submit" value="Confirmer"></p>
 {{ form_end(passwordChangeForm) }}
{% endblock %}