{% extends 'base.html.twig' %}

{% block body %}

{% if not app.user %}
    <section>
    <div class="login-block">
        <div class="title">
            <p>Inscription</p>
            <div class="title--line"></div>
        </div>
        <div class="login-block__form">
            {{ form_start(registerForm) }}
                <p>{{ form_errors(registerForm)}}</p>
                <p>{{ form_row(registerForm.email, { 
                    'required': 'true', 
                    'label': ' ', 
                    'attr': {
                        'placeholder': "Adresse e-mail" 
                        } 
                    }) 
                }}</p>
                <p>{{ form_row(registerForm.password, { 
                    'required': 'true', 
                    'label': ' ', 
                    'attr': {
                        'placeholder': "Mot de passe" 
                        } 
                    }) 
                }}</p>
                {{ form_row(registerForm.confirmPassword, { 
                    'required': 'true', 
                    'label': ' ', 
                    'attr': {
                        'placeholder': "Confirmation du mot de passe" 
                        } 
                    }) 
                }}</p>
                <input type="submit" value="Envoyer">
            {{ form_end(registerForm) }}
            <p><a href="{{ path('login') }}">J'ai déjà un compte</a></p>
        </div>
    </div>
    </section>
{% else %}
    <p>Vous êtes déjà inscrit.</p>
{% endif %}

{% endblock %}
