{% extends "base.html.twig" %}

{% block body %}

 <div class="main">
    <div class="title">
        <h2>Reporter un événement</h2>
        <div class="title--line"></div>
    </div>
    
    <h3 class="important-text">{{concert.name}} - {{concert.date | date('d/m/Y à h:i')}}</h3>

    {{ form_start(newDateForm) }}
        <div class="create-block__form__each--label">
            <label>Modifier la date :</label>
        </div>
        <p>{{ form_row(newDateForm.date, {
            'required': 'true',
            'label': ' ',
        }) }}</p>
        
        <div class="btn-block">
            <a href="{{ path('showConcert', {'id': concert.id}) }}"><input type="button" class="btn" value="Retour"></a>
            <input type="submit" class="btn" value="Confirmer">
        </div>

    {{ form_end(newDateForm) }} 
 </div>

{% endblock %}