{% extends "base.html.twig" %}

{% block body %}

    <section><div class="btn-block">
        <input type="button" class="category-btn btn currentBtn" id="coming" value="Événements à venir">
        <input type="button" class="category-btn btn" id="canceled" value="Événements annulés">
        <input type="button" class="category-btn btn"  id="past" value="Événements passés">
   </div></section>

    <section><div class="coming main"> {# CONCERTS À VENIR #}
        {% if concerts %}
            <div class="title">
                <h2>Mes événements à venir</h2>
                <div class="title--line"></div>
            </div>
            {% for concert in concerts %}
                <div class="each-block">
                    {% if concert.reservation == null %}
                        {% set reservations = 0 %}
                    {% else %}
                        {% set reservations = concert.reservation %}
                    {% endif %}
                    <div class="title">
                        <h3><a href="{{ path('showConcert', {'id': concert.id}) }} ">{{ concert.name }}</h3></a>
                        <div class="title--line"></div>
                    </div>
                    <p>{{concert.date | date('d/m/Y')}}</p>
                    <p>({{reservations}}/{{concert.maxPlaces}} réservation{% if reservations > 1 %}s{% endif %})</p>
                    <div class="btn-block">
                        {% set organizerToken = csrf_token('concert-organizer') %}
                        <a href="{{ path('editConcert', {'id': concert.id, 'organizerToken': organizerToken}) }}"><input type="button" class="btn" value="Modifier"></a>
                        <a href="{{ path('changeConcertDate', {'id': concert.id, 'organizerToken': organizerToken}) }}"><input type="button" class="btn" value="Reporter"></a>
                        <a href="{{ path('confirmCancelConcert', {'id': concert.id, 'organizerToken': organizerToken}) }}"><input type="button" class="btn" value="Annuler"></a>   
                    </div>      
                </div>       
            {% endfor %} 
        {% else %}
            <p>Vous n'avez pas de concert à venir</p>
        {% endif %}
    </div></section> {# FIN CONCERTS À VENIR #}
    
    <section><div class="canceled main"> {# CONCERTS ANNULÉS #}
        {% if canceledConcerts %} 
            <div class="title">
                <h2>Mes événements annulés</h2>
                <div class="title--line"></div>
            </div>
            {% for canceledConcert in canceledConcerts %}
                <p><a href="{{ path('showConcert', {'id': canceledConcert.id}) }} ">{{canceledConcert.date | date('d/m/Y')}} - {{ canceledConcert.name }}</a></p>
            {% endfor %}
        {% else %}
            <p>Aucun concert annulé</p>
        {% endif %} 
    </div></section> {# FIN CONCERTS ANNULÉS #}
    
    <section><div class="past main"> 
        {% if pastConcerts %} {# CONCERTS PASSÉS #}
            <div class="title">
                <h2>Mes événements passés</h2>
                <div class="title--line"></div>
            </div>            
            {% for pastConcert in pastConcerts %}
                <p><a href="{{ path('showConcert', {'id': pastConcert.id}) }} ">{{pastConcert.date | date('d/m/Y')}} - {{ pastConcert.name }}</a></p>
            {% endfor %}
        {% else %}
            <p>Aucun concert déjà passé</p>
        {% endif %} 
    </div></section> {# FIN CONCERTS PASSÉS #}

{% endblock %}

