<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>{% block title %} {{ title }} {% endblock %}</title>
        {% block stylesheets %} 
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container__header">
                    <div class="header__home">
                        {% if app.request.get('_route') != 'index' %} 
                            <a href="{{ path("index") }}"><i class="fas fa-home"></i></a>
                        {% endif %}
                    </div>
                    {% if app.user %}
                        <div class="header__user-parameters">
                            <i class="fas fa-user" id="userIcon"></i>
                            <i class="fas fa-user" id="activeUserIcon"></i>
                        </div>
                        <div class="user-parameters--active">
                            <p>{{ app.user.email}}</p>
                            <div class="each-parameter">
                                <a href="{{ path('myAccount', {'userId': app.user.id}) }}"><i class="fas fa-user-circle"></i> Mon compte</a>
                            </div>
                            <div class="each-parameter">
                                <li><a href="{{ path("reservationsList", {'userId': app.user.id}) }}"><i class="fas fa-ticket-alt"></i> Mes réservations</a></li>
                            </div>
                            {% if app.user and app.user.role == 'Organizer' %}
                                <div class="each-parameter">
                                    <li><a href="{{ path("myConcertsList", {'userId' : app.user.id}) }}"><i class="far fa-list-alt"></i> Mes événements</a></li>
                                </div>
                                <div class="each-parameter">
                                    <li><a href="{{ path("createConcert")}}"><i class="far fa-calendar-plus"></i> Créer un événement</a></li>
                                </div>
                            {% endif %}
                            <div class="each-parameter">
                                <li><a href="{{ path("logout") }}"><i class="fas fa-sign-out-alt"></i> Déconnexion</a></li>
                            </div>
                        </div>
                    {% else %}
                        <div class="header__login">
                            {% if app.request.get('_route') != 'login' %}
                                <a href="{{ path("login") }}" class="btn"><i class="fas fa-user"></i> Connexion</a>
                            {% endif %}
                        </div>
                    {% endif %}
            </div>
        </header>
        <div class="container__body">
            {% block body %}{% endblock %}
        </div>
        <div class="container__footer">
            <footer>
                <p>Ceci est le footer</p>
            </footer>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/UserMenu.js') }}"></script>
        <script src="{{ asset('js/StatusFilter.js') }}"></script>
        <script src="{{ asset('js/EventsSearchList.js') }}"></script>
        <script src="{{ asset('js/BlocksTransitionShowEvent.js') }}"></script>
        <script src="{{ asset('js/EventsRequest.js') }}"></script>
        <script src="{{ asset('js/GoogleMap.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvzT2ZgUTNbMi4jZR7sj9di7nZ1qJsMgA&callback=initMap">
</script>
    {% endblock %}
</html>
