{% extends 'base.html.twig' %}

{% block body %}

    {% set submittedToken = csrf_token('cancel-reservation') %}

    <section><div class="btn-block">
        <input type="button" class="category-btn btn currentBtn" id="coming" value="Réservations à venir">
        <input type="button" class="category-btn btn" id="canceled" value="Réservations annulées">
        <input type="button" class="category-btn btn"  id="past" value="Réservations passées">
    </div></section>

    <section><div class="coming main"> {# À VENIR #}
        {% if reservations %}
            <div class="title">
                <h2>Mes réservations à venir</h2>
                <div class="title--line"></div>
            </div>
            <div class="each-block">
            {% for reservation in reservations %}
                <p><span class="important-text">Réservation n°{{ reservation.id }}</span></p>
                <p><span class="important-text">{{ reservation.concert.name }}</span><br />
                Date : {{ reservation.concert.date | date('d/m/Y') }}<br />
                Nombre de places réservées : {{ reservation.reservedPlaces }}</p>
                <div class="btn-block">
                    <p><a href="{{ path('showConcert', {'id' : reservation.concert.id}) }}"><input type="button" class="btn" value="Voir le concert"></a>
                    <a href="{{ path('confirmReservationCancel', {'reservationId': reservation.id, 'submittedToken': submittedToken}) }}"><input type="button" class="btn" value="Annuler la réservation"></a></p>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>Vous n'avez pas encore de réservation</p>    
            <a href="{{ path('concertsList') }}"><button class="btn">Chercher un événement</button></a>
        {% endif %}
    </div></section> {# FIN À VENIR #}

    <section><div class="canceled main"> {# RÉSERVATIONS ANNULÉES #}
        {% if canceledReservations %} 
            <div class="title">
                <h2>Mes réservations annulées</h2>
                <div class="title--line"></div>
            </div>
            {% for canceledReservation in canceledReservations %}
                <p><span class="important-text">Réservation n°{{ canceledReservation.id }}</span></p>
                <p><span class="important-text">{{ canceledReservation.concert.name }}</span><br />
                Date :</strong> {{ canceledReservation.concert.date | date('d/m/Y') }}<br />
                Nombre de places réservées : {{ canceledReservation.reservedPlaces }}</p>
                <hr />
            {% endfor %}
        {% else %}
            <p>Aucune réservation annulée</p>
            <a href="{{ path('concertsList') }}"><button class="btn">Chercher un événement</button></a>
        {% endif %}     
    </div></section> {# FIN RÉSERVATIONS ANNULÉES #}

    <section><div class="past main"> {# RÉSERVATIONS PASSÉES #}
        {% if pastReservations %}
            <div class="title">
                <h2>Mes réservations passées</h2>
                <div class="title--line"></div>
            </div>
            {% for pastReservation in pastReservations %}
                <p><span class="important-text">Réservation n°{{ pastReservation.id }}</span></p>
                <p><span class="important-text">{{ pastReservation.concert.name }}</span><br />
                Date : {{ pastReservation.concert.date | date('d/m/Y') }}<br />
                Nombre de places réservées : {{ pastReservation.reservedPlaces }}</p>
                <hr />
            {% endfor %}
        {% else %}
            <p>Aucune réservation déjà passée</p>
            <a href="{{ path('concertsList') }}"><button class="btn">Chercher un événement</button></a>

        {% endif %}     
    </div></section> {# FIN RÉSERVATIONS PASSÉES #}

{% endblock %}
