{% extends 'base.html.twig' %}

{% block body %}

{% set submittedToken = csrf_token('cancel-reservation') %}

<section>
 {% if reservations %}
     {% for reservation in reservations %}
      <p><strong>Réservation n°{{ reservation.id }}</strong></p>

      <p><strong>Concert :</strong> {{ reservation.concert.name }}<br />
      <strong>Date :</strong> {{ reservation.concert.date | date('d/m/Y') }}<br />
      <strong>Nombre de places réservées :</strong> {{ reservation.reservedPlaces }}</p>
      <p><a href="{{ path('showConcert', {'id' : reservation.concert.id}) }}"><input type="button" value="Voir le concert"></a>
      {% if reservation.status == 'Confirmé' %}
          <a href="{{ path('confirmReservationCancel', {'reservationId': reservation.id, 'submittedToken': submittedToken}) }}"><input type="button" value="Annuler la réservation"></a></p>
      {% endif %}
      <hr />
    {% endfor %}
 {% else %}
      <p>Vous n'avez pas de réservation</p>    
      <p><a href="{{ path('concertsList') }}">Voir les concerts</a></p>
 {% endif %}

</section>

{% endblock %}
